<!-- The main area for content -->
<div class="container">
  <!-- The main area for creating target part of transfer request -->
  <div class="row">
    <div class="col">
      <h1 style="margin-top: 15px;"><b>Generate Transfer Request</b></h1>
      <h5 class="text-warning">Customize your Transfer Target:</h5>
      <form (submit)="onSubmitTarget()">
        <div class="form-group">
          <table>
            <tr>
              <th><label>Select your department:</label></th>
              <th><label>Select the Role Type:</label></th>
              <th><label>Select the LabwareSpec Type:</label></th>
            </tr>
            <tr>
              <td>
                <select class="form-control" [(ngModel)]="department" name="department">
                  <option>Select department...</option>
                  <option [ngValue]="department" *ngFor='let department of departments'>{{department.name}}</option>
                </select>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="role" name="role">
                  <option>Select role type...</option>
                  <option [ngValue]="role" *ngFor='let role of roles'>{{role.role}}</option>
                </select>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="labwareSpec" name="labwareSpec">
                  <option>Select labwareSpec type...</option>
                  <option [ngValue]="labwareSpec" *ngFor='let labwareSpec of labwareSpecs'>{{labwareSpec.name}}</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <button type="submit" class="btn btn-info">Submit Target Info</button>
      </form>
    </div>
  </div>
  <hr>

  <!-- The main area for creating source part of transfer request -->
  <div class="row" *ngIf="parentOptions">
    <div class="col">
      <h5 class="text-warning">Customize your Transfer Source:</h5>
      <p class="text-info">(You can both type in the amount at one time or create one by one.)</p>
      <form (submit)="onGetSourceAmount()">
        <div class="form-group">
          <label style="font-size: 16px;">You can type in the amout of source list:</label>
          <input class="form-control" style="width: 150px;" type="number" [(ngModel)]="SourceAmount" name="SourceAmount" placeholder="Amount here...">
        </div>
        <button class="btn btn-info" type="submit">Create Source List</button>
      </form>

      <div class="form" style="margin-top: 15px;">
        <div class="form-group">
          <table class="table-striped text-center">
            <tr>
              <th style="padding: 5px 15px 0px;"><label style="font-size: 16px;">No.</label></th>
              <th><label style="font-size: 16px;">Role</label></th>
              <th><label style="font-size: 16px;">LabwareSpec</label></th>
              <th><label style="font-size: 16px;">Value (uL)</label></th>
            </tr>
            <tr *ngFor="let source of sourceList">
              <td>
                <button class="btn btn-outline-light">{{source.ordNum}}</button>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="source.role" name="source.role">
                  <option>Select role type...</option>
                  <option [ngValue]="role" *ngFor='let role of roles'>{{role.role}}</option>
                </select>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="source.labwareSpec" name="source.labwareSpec">
                  <option>Select labwareSpec type...</option>
                  <option [ngValue]="labwareSpec" *ngFor='let labwareSpec of labwareSpecs'>{{labwareSpec.name}}</option>
                </select>
              </td>
              <td>
                <input class="form-control" type="number" [(ngModel)]="source.value" name="source.value">
              </td>
              <td>
                <button class="btn" type="button" style="font-size: 28px;" (click)="addSource()"><i class="far fa-plus-square"></i></button>
              </td>
              <td>
                <button class="btn" style="font-size: 28px;" (click)="deleteSource(source)"><i class="far fa-minus-square"></i></button>
              </td>
            </tr>
          </table>
        </div>
        <button class="btn btn-success" type="submit" (click)="onCreateReq(content)">Generate Work-order</button>

        <!-- The modal content for successfully generation of work-order -->
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Congratulations</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>You've successfully created an Transfer request!</p>
            <P>The new request ID is: <b>{{newReqID}}</b></P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </ng-template>
      </div>
    </div>
</div>