<div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div style="width: 1200px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #3f474e">
        <table class="table-striped" style="text-align: center">
          <tr>
            <th style="padding-right: 5px">id</th>
            <th style="padding-left: 5px; padding-right: 5px">name</th>
            <th style="padding-left: 5px; padding-right: 5px">description</th>
            <th style="padding-left: 5px; padding-right: 5px">material</th>
            <th style="padding-left: 5px; padding-right: 5px">volume</th>
            <th style="padding-left: 5px; padding-right: 5px">cat_num</th>
            <th style="padding-left: 5px; padding-right: 5px">manufacturer</th>
            <th style="padding-left: 5px; padding-right: 5px">map_id.name</th>
            <th style="padding-left: 5px; padding-right: 5px">className</th>
            <th style="padding-left: 5px; padding-right: 5px">moduleName</th>
          </tr>
          <tr *ngFor="let lwarespec of lwarespecs">
            <td style="padding-right: 5px">{{lwarespec.id}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.name}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.description}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.material}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.volume}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.cat_num}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.manufacturer}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.map_id.name}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.className}}</td>
            <td style="padding-left: 5px; padding-right: 5px">{{lwarespec.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button>
</div>
