<!-- Area for display Role data -->
<div class="container" style="margin-top: 15px;">
  <!-- Instruction of Role component -->
  <div class="row">
    <div class="col jumbotron" style="padding-top: 15px; height: 155px;">
      <h5>Roles list shows the types of labwares. It could be the content in the labware such as CEA Code Mix, or it could be one with many types such as Filter Plate. It is more beneficial on developer side. This gives us a quick view on what type we will send to robot.</h5>
      <h5 style="margin-bottom: 125px;">Here labware means tube or plate. According to the barcode of the labware, we can access the specific role information.</h5>
    </div>
  </div>

  <!-- To show local and remote Roles data -->
  <div class="row">
    <!-- Area to update and show Roles locally -->
    <div class="col" style="height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Update and Show All Roles Locally</b></h2>
      <h5 class="text-danger"><i class="fas fa-exclamation-triangle"></i> Reset Roles</h5>
      <form (submit)="onResetRoles()" style="margin-bottom: 15px">
          <button type="submit" class="btn btn-danger">Reset Roles</button>
      </form>
      <hr>
      <!-- table to show roles locally -->
      <table class="table-striped table-hover" style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">liquid_class</th>
          <th style="padding-left: 2px; padding-right: 2px">role</th>
          <th style="padding-left: 2px; padding-right: 2px">reagent</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let role of roles">
          <td style="padding-right: 2px">{{role.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{role.liquid_class}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{role.role}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{role.reagent}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{role.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{role.moduleName}}</td>
        </tr>
      </table>
    </div>

    <!-- Area to show Roles remotely
    <div class="col" style="margin-left: 3px; margin-right: -160px; width: 350px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Show All Roles Remotely</b></h2>
      <p>According to: <a href="http://10.253.7.14:8000/?request=getRoles">http://10.253.7.14:8000/?request=getRoles</a></p>
      <hr>
      table to show roles remotely
      <table class="table-striped table-hover"  style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">liquid_class</th>
          <th style="padding-left: 2px; padding-right: 2px">role</th>
          <th style="padding-left: 2px; padding-right: 2px">reagent</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let remoterole of remoteroles">
          <td style="padding-right: 2px">{{remoterole.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoterole.liquid_class}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoterole.role}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoterole.reagent}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoterole.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoterole.moduleName}}</td>
        </tr>
      </table>
    </div> -->
  </div>
</div>
<hr>

<!-- Area for adding new Roles -->
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-header" style="margin-top: 15px"><b>Create Roles Manually</b></h2>
      <h5 class="text-warning" style="margin-top: 15px;">Create Roles</h5>
      <form (submit)="onCreateRole()">
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Role</label>
          <input class="form-control" type="text" [(ngModel)]="role_add" name="role_add" placeholder="role here..." (change)="searchByRole($event.target.value)">
        </div>
        <div class="invalid-feedback" style="display: block">
          <ng-container *ngIf="warningMsg"><i class="fas fa-exclamation-triangle"></i> {{warningMsg}}</ng-container>
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Liquid Class</label>
          <input class="form-control" type="text" [(ngModel)]="liquid_class_add" name="liquid_class_add" placeholder="liquid class here...">
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Reagent</label>
          <select class="form-control" [(ngModel)]="reagent_add" name="reagent_add">
            <option>true</option>
            <option>false</option>
          </select>
        </div>
        <p class="text-warning"><i class="fas fa-exclamation-triangle"></i> Make sure that the role is not existed in the database!</p>
        <button type="submit" class="btn btn-primary" [disabled]="checkExist">Create a Role</button>
      </form>
    </div>
  </div>
</div>
<hr>

  <!-- Area for search functionalities -->
<div class="container" style="margin-top: 15px">
  <div class="row">
    <!-- Search by Role -->
    <div class="col">
      <h2><b>Search by Role</b></h2>
      <hr>
      <form (submit)="onSearchRolesByRole()">
        <div class="form-group">
          <label>Type the role here:</label>
          <input type='text' class="form-control" name='role' [(ngModel)]="role" placeholder="Type the role here...">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchRoleRes">
        <table class="table-primary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">liquid_class</th>
            <th style="padding-left: 10px; padding-right: 10px">role</th>
            <th style="padding-left: 10px; padding-right: 10px">reagent</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let roleres of searchRoleRes">
            <td style="padding-right: 10px">{{roleres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{roleres.liquid_class}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{roleres.role}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{roleres.reagent}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{roleres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{roleres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Search by Liquid_class -->
    <div class="col">
      <h2><b>Search by Liquid_Class</b></h2>
      <hr>
      <form (submit)="onSearchRolesByLiquidClass()">
        <div class="form-group">
          <label>Type the liquid_class here:</label>
          <input type='text' class="form-control" name='liquid_class' [(ngModel)]="liquid_class" placeholder="Type the liquid_class here...">
        </div>
        <button type="submit" class="btn btn-info" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchLiquidClassRes">
        <table class="table-info table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">liquid_class</th>
            <th style="padding-left: 10px; padding-right: 10px">role</th>
            <th style="padding-left: 10px; padding-right: 10px">reagent</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let liquidclassres of searchLiquidClassRes">
            <td style="padding-right: 10px">{{liquidclassres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{liquidclassres.liquid_class}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{liquidclassres.role}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{liquidclassres.reagent}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{liquidclassres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{liquidclassres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Search by Role_id -->
    <div class="col">
      <h2><b>Search by Id</b></h2>
      <hr>
      <form (submit)="onSearchRolesById()">
        <div class="form-group">
          <label>Type the id here:</label>
          <input type='text' class="form-control" name='id' [(ngModel)]="id" placeholder="Type the id here...">
        </div>
        <button type="submit" class="btn btn-warning" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchIdRes">
        <table class="table-warning table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">liquid_class</th>
            <th style="padding-left: 10px; padding-right: 10px">role</th>
            <th style="padding-left: 10px; padding-right: 10px">reagent</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let idres of searchIdRes">
            <td style="padding-right: 10px">{{idres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.liquid_class}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.role}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.reagent}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- Search by role and liquid_class -->
    <div class="col">
      <h2><b>Search by Conditions</b></h2>
      <hr>
      <form (submit)="onSearchRolesByConditions()">
        <div class="form-group">
          <label>Type the role here:</label>
          <input type='text' class="form-control" name='role_condition' [(ngModel)]="role_condition" placeholder="Type the role here...">
        </div>
        <div class="form-group">
          <label>Type the liquid_class here:</label>
          <input type='text' class="form-control" name='liquid_class_condition' [(ngModel)]="liquid_class_condition" placeholder="Type the liquid_class here...">
        </div>
        <button type="submit" class="btn btn-secondary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchConRes">
        <table class="table-secondary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">liquid_class</th>
            <th style="padding-left: 10px; padding-right: 10px">role</th>
            <th style="padding-left: 10px; padding-right: 10px">reagent</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let conres of searchConRes">
            <td style="padding-right: 10px">{{conres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.liquid_class}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.role}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.reagent}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<hr>