<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="page-header" style="margin-top: 15px"><b>Dashboard</b></h1>
      <hr>
      <table class="table uk-form-horizontal table-striped table-hover table-bordered" *ngIf="user" style="width: 500px; font-size: 18px;">
        <tr>
          <th style="width: 100px;">Name</th>
          <td style="text-align: center;">{{user.name}}</td>
        </tr>
        <tr>
          <th>Department</th>
          <td style="text-align: center">{{user.department}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>