<!-- Area for display Probemaps data -->
<div class="container" style="margin-top: 15px;">
  <!-- Instruction of Probemaps component -->
  <div class="row">
    <div class="col jumbotron" style="padding-top: 25px; height: 100px;">
      <h5>Probemaps list shows the details for users to create the panel. Moreover, we can see details of all probes in each probemap by clicking the id of each Probemap. It is more beneficial on user side.</h5>
    </div>
  </div>

  <!-- To show local and remote Probemaps data -->
  <div class="row">
    <!-- Area to update and show Probemaps locally -->
    <div class="col" style="margin-left: -160px; width: 350px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Update and Show All Probemaps Locally</b></h2>
      <form (submit)="onGrabProbemaps()" style="margin-bottom: 15px">
          <button type="submit" class="btn btn-primary">Update Probemaps</button>
      </form>
      <hr>
      <!-- table to show probemaps locally -->
      <table class="table-striped table-hover" style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">name</th>
          <th style="padding-left: 2px; padding-right: 2px">creator</th>
          <th style="padding-left: 2px; padding-right: 2px">codemap_id.name</th>
          <th style="padding-left: 2px; padding-right: 2px">most_current</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let probemap of probemaps">
          <td style="padding-right: 2px"><button class="btn btn-dark" type="button" (click)="onShowProbe(probemap.id)">{{probemap.id}}</button></td>
          <!-- <td style="padding-left: 2px; padding-right: 2px">{{probemap.id}}</td> -->
          <td style="padding-left: 2px; padding-right: 2px">{{probemap.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">name: {{probemap.creator.requestor_id.name}}<br>requested: {{probemap.creator.requested}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{probemap.codemap_id.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{probemap.most_current}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{probemap.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{probemap.moduleName}}</td>
        </tr>
      </table>
    </div>

    <!-- Area to show probes -->
    <div class="col" *ngIf="probeRes" style="margin-left: 3px; margin-right: -160px; width: 350px; height: 700px; overflow: auto;">
      <h2 style="margin-top: 15px"><b>Show Probes -- ProbemapId: </b><span class="badge badge-pill badge-dark">{{probemapId}}</span></h2>
      <hr>
      <!-- Table to display probes -->
      <table class="table-striped table-bordered table-dark table-hover"  style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">map_id.name</th>
          <th style="padding-left: 2px; padding-right: 2px">probe_id.ffid</th>
          <th style="padding-left: 2px; padding-right: 2px">probe_id.mir_seq</th>
          <th style="padding-left: 2px; padding-right: 2px">label</th>
          <th style="padding-left: 2px; padding-right: 2px">code.col</th>
          <th style="padding-left: 2px; padding-right: 2px">code.row</th>
          <th style="padding-left: 2px; padding-right: 2px">probe_id.qc</th>
        </tr>
        <tr *ngFor="let proberes of probeRes">
          <td style="padding-right: 2px">{{proberes.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{proberes.map_id.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{proberes.probe_id.ffid}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{proberes.probe_id.mir_seq}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{proberes.label}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{proberes.code.col}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{proberes.code.row}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{proberes.probe_id.qc}}</td>
        </tr>
      </table>
    </div>
    
    <!-- Area to show Probemaps remotely -->
    <div class="col" *ngIf="!probeRes" style="margin-left: 3px; margin-right: -160px; width: 350px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Show All Probemaps Remotely</b></h2>
      <p>According to: <a href="http://10.253.7.14:8000/?request=getAllProbemaps">http://10.253.7.14:8000/?request=getAllProbemaps</a></p>
      <hr>
      <!-- table to show probemaps remotely -->
      <table class="table-striped table-hover"  style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">name</th>
          <th style="padding-left: 2px; padding-right: 2px">creator</th>
          <th style="padding-left: 2px; padding-right: 2px">codemap_id.name</th>
          <th style="padding-left: 2px; padding-right: 2px">most_current</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let remoteprobemap of remoteprobemaps">
          <td style="padding-right: 2px">{{remoteprobemap.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteprobemap.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">name: {{remoteprobemap.creator.requestor_id.name}}<br>requested: {{remoteprobemap.creator.requested}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteprobemap.codemap_id.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteprobemap.most_current}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteprobemap.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteprobemap.moduleName}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<hr>
  
<!-- Area for search functionalities -->
<div class="container">
  <div class="row">
    <!-- Search by creatorName -->
    <div class="col">
      <h2><b>Search by creatorName</b></h2>
      <hr>
      <form (submit)="onSearchProbemapsByCreator()">
        <div class="form-group">
          <label>Type the creatorName here:</label>
          <input type='text' class="form-control" name='creatorName' [(ngModel)]="creatorName" placeholder="Type the creatorName here...">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchCreatorRes">
        <table class="table-primary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">creator</th>
            <th style="padding-left: 10px; padding-right: 10px">codemap_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">most_current</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let creatorres of searchCreatorRes">
            <td style="padding-right: 10px">{{creatorres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{creatorres.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">name: {{creatorres.creator.requestor_id.name}}<br>requested: {{creatorres.creator.requested}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{creatorres.codemap_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{creatorres.most_current}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{creatorres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{creatorres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Search by Name -->
    <div class="col">
      <h2><b>Search by Name</b></h2>
      <hr>
      <form (submit)="onSearchProbemapsByName()">
        <div class="form-group">
          <label>Type the name here:</label>
          <input type='text' class="form-control" name='name' [(ngModel)]="name" placeholder="Type the name here...">
        </div>
        <button type="submit" class="btn btn-info" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchNameRes">
        <table class="table-info table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">creator</th>
            <th style="padding-left: 10px; padding-right: 10px">codemap_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">most_current</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let nameres of searchNameRes">
            <td style="padding-right: 10px">{{nameres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">name: {{nameres.creator.requestor_id.name}}<br>requested: {{nameres.creator.requested}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.codemap_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.most_current}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Search by Role_id -->
    <div class="col">
      <h2><b>Search by Id</b></h2>
      <hr>
      <form (submit)="onSearchProbemapsById()">
        <div class="form-group">
          <label>Type the id here:</label>
          <input type='text' class="form-control" name='id' [(ngModel)]="id" placeholder="Type the id here...">
        </div>
        <button type="submit" class="btn btn-warning" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchIdRes">
        <table class="table-warning table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">creator</th>
            <th style="padding-left: 10px; padding-right: 10px">codemap_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">most_current</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let idres of searchIdRes">
            <td style="padding-right: 10px">{{idres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">name: {{idres.creator.requestor_id.name}}<br>requested: {{idres.creator.requested}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.codemap_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.most_current}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- Search by moduleName and name -->
    <div class="col">
      <h2><b>Search by Conditions</b></h2>
      <hr>
      <form (submit)="onSearchProbemapsByConditions()">
        <div class="form-group">
          <label>Type the moduleName here:</label>
          <input type='text' class="form-control" name='moduleName_condition' [(ngModel)]="moduleName_condition" placeholder="Type the moduleName here...">
        </div>
        <div class="form-group">
          <label>Type the name here:</label>
          <input type='text' class="form-control" name='name_condition' [(ngModel)]="name_condition" placeholder="Type the name here...">
        </div>
        <button type="submit" class="btn btn-secondary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchConRes">
        <table class="table-secondary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">creator</th>
            <th style="padding-left: 10px; padding-right: 10px">codemap_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">most_current</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let conres of searchConRes">
            <td style="padding-right: 10px">{{conres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">name: {{conres.creator.requestor_id.name}}<br>requested: {{conres.creator.requested}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.codemap_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.most_current}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Area for adding new Probemaps -->
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-header" style="margin-top: 15px"><b>Add Probemaps Manually</b></h2>
      <form (submit)="onAddProbemaps()">
        <div class="form-group">
          <label>id:</label>
          <input type="text" class="form-control" [(ngModel)]="id_add" name="id_add" placeholder="Add new id...">
        </div>
        <div class="form-group">
          <label>className:</label>
          <input type="text" class="form-control" [(ngModel)]="className_add" name="className_add" placeholder="Add new className...">
        </div>
        <div class="form-group">
          <label>moduleName:</label>
          <input type="text" class="form-control" [(ngModel)]="moduleName_add" name="moduleName_add" placeholder="Add new moduleName...">
        </div>
        <div class="form-group">
          <label>name:</label>
          <input type="text" class="form-control" [(ngModel)]="name_add" name="name_add" placeholder="Add new name...">
        </div>
        <div class="form-group">
          <label>creator:</label>
          <input type="text" class="form-control" [(ngModel)]="creator_add" name="creator_add" placeholder="Add new creator...">
        </div>
        <div class="form-group">
          <label>codemap_id:</label>
          <input type="text" class="form-control" [(ngModel)]="codemap_id_add" name="codemap_id_add" placeholder="Add new codemap_id...">
        </div>
        <div class="form-group">
          <label>most_current:</label>
          <input type="text" class="form-control" [(ngModel)]="most_current_add" name="most_current_add" placeholder="Add new most_current...">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Add Probemaps</button>
      </form>
    </div>
  </div>
</div>