<!--
 * @Description: The page to show labwarespecs data in data server and local database
 * @Author: Guozhi Tang
 * @Date: 2019-05-07 14:00:28
 * @Github: https://github.com/GuozhiTang/Bio-WebApp
 * @LastEditors: Guozhi Tang
 * @LastEditTime: 2019-08-30 15:18:06
 -->
<!-- Area for display Labwarespecs data -->
<div class="container" style="margin-top: 15px;">
  <!-- Instruction of Labwarespec component -->
  <div class="row">
    <div class="col jumbotron" style="padding-top: 25px; height: 105px;">
      <h5>LabwareSpecs list is to define the labware. It shows all types of labwares which can be used in the database with their details. It is beneficial for both users and developers. If we want to create a new labware, then we can come here and see.</h5>
    </div>
  </div>
  
  <!-- To show local and remote Labwarespecs data -->
  <div class="row">
    <!-- Area to update and show Labwarespecs locally -->
    <div class="col" style="height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Update and Show All LabwareSpecs Locally</b></h2>
      <h5 class="text-danger"><i class="fas fa-exclamation-triangle"></i> Reset LabwareSpecs</h5>
      <form (submit)="onResetLwareSpecs()" style="margin-bottom: 15px">
          <button type="submit" class="btn btn-danger">Reset LabwareSpecs</button>
      </form>
      <hr>
      <!-- table to show Labwarespecs locally -->
      <table class="table-striped table-hover" style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">name</th>
          <th style="padding-left: 2px; padding-right: 2px">description</th>
          <th style="padding-left: 2px; padding-right: 2px">material</th>
          <th style="padding-left: 2px; padding-right: 2px">volume</th>
          <th style="padding-left: 2px; padding-right: 2px">cat_num</th>
          <th style="padding-left: 2px; padding-right: 2px">manufacturer</th>
          <th style="padding-left: 2px; padding-right: 2px">map_id.name</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let lwarespec of lwarespecs">
          <td style="padding-right: 2px">{{lwarespec.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.description}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.material}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.volume}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.cat_num}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.manufacturer}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.map_id.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{lwarespec.moduleName}}</td>
        </tr>
      </table>
    </div>

    <!-- Area to show Labwarespecs remotely
    <div class="col" style="margin-left: 3px; margin-right: -160px; width: 350px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Show All LabwareSpecs Remotely</b></h2>
      <p>According to: <a href="http://10.253.7.14:8000/?request=getLabwareSpecs">http://10.253.7.14:8000/?request=getLabwareSpecs</a></p>
      <hr>
      table to show labwarespecs remotely
      <table class="table-striped table-hover"  style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">name</th>
          <th style="padding-left: 2px; padding-right: 2px">description</th>
          <th style="padding-left: 2px; padding-right: 2px">material</th>
          <th style="padding-left: 2px; padding-right: 2px">volume</th>
          <th style="padding-left: 2px; padding-right: 2px">cat_num</th>
          <th style="padding-left: 2px; padding-right: 2px">manufacturer</th>
          <th style="padding-left: 2px; padding-right: 2px">map_id.name</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let remotelwarespec of remotelwarespecs">
          <td style="padding-right: 2px">{{remotelwarespec.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.description}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.material}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.volume}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.cat_num}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.manufacturer}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.map_id.name}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remotelwarespec.moduleName}}</td>
        </tr>
      </table>
    </div> -->
  </div>
</div>
<hr>

<!-- Area for adding new Labwarespecs -->
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-header" style="margin-top: 15px"><b>Create LabwareSpecs Manually</b></h2>
      <h5 class="text-warning" style="margin-top: 15px;">Create LabwareSpecs</h5>
      <form (submit)="onCreateLabwareSpec()">
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Name</label>
          <input class="form-control" type="text" [(ngModel)]="name_add" name="name_add" placeholder="name here..." (change)="searchByName($event.target.value)">
        </div>
        <div class="invalid-feedback" style="display: block">
          <ng-container *ngIf="warningMsg"><i class="fas fa-exclamation-triangle"></i> {{warningMsg}}</ng-container>
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Description</label>
          <input class="form-control" type="text" [(ngModel)]="description_add" name="description_add" placeholder="description here...">
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Material</label>
          <input class="form-control" type="text" [(ngModel)]="material_add" name="material_add" placeholder="material here...">
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Volume</label>
          <input class="form-control" type="text" [(ngModel)]="volume_add" name="volume_add" placeholder="volume here...">
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Cat_num</label>
          <input class="form-control" type="text" [(ngModel)]="cat_num_add" name="cat_num_add" placeholder="cat_num here...">
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Manufacturer</label>
          <input class="form-control" type="text" [(ngModel)]="manufacturer_add" name="manufacturer_add" placeholder="manufacturer here...">
        </div>
        <div class="form-group" style="width: 550px;">
          <label style="font-size: 16px;">Map_id</label>
          <input class="form-control" type="text" [(ngModel)]="map_id_add" name="map_id_add" placeholder="map_id here...">
        </div>
        <p class="text-warning"><i class="fas fa-exclamation-triangle"></i> Make sure that the name is not existed in the database!</p>
        <button type="submit" class="btn btn-primary" [disabled]="checkExist">Create a LabwareSpec</button>
      </form>
    </div>
  </div>
</div>
<hr>

<!-- Area for search functionalities -->
<div class="container">
  <div class="row">
    <!-- Search by Name -->
    <div class="col">
      <h2><b>Search by Name</b></h2>
      <hr>
      <form (submit)="onSearchLwareSpecsByName()">
        <div class="form-group">
          <label>Type the name here:</label>
          <input type='text' class="form-control" name='name' [(ngModel)]="name" placeholder="Type the name here...">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchNameRes">
        <table class="table-primary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">description</th>
            <th style="padding-left: 10px; padding-right: 10px">material</th>
            <th style="padding-left: 10px; padding-right: 10px">volume</th>
            <th style="padding-left: 10px; padding-right: 10px">cat_num</th>
            <th style="padding-left: 10px; padding-right: 10px">manufacturer</th>
            <th style="padding-left: 10px; padding-right: 10px">map_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let nameres of searchNameRes">
            <td style="padding-right: 10px">{{nameres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.description}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.material}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.volume}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.cat_num}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.manufacturer}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.map_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{nameres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Search by Manufacturer -->
    <div class="col">
      <h2><b>Search by Manufacturer</b></h2>
      <hr>
      <form (submit)="onSearchLwareSpecsByManufacturer()">
        <div class="form-group">
          <label>Type the manufacturer here:</label>
          <input type='text' class="form-control" name='manufacturer' [(ngModel)]="manufacturer" placeholder="Type the manufacturer here...">
        </div>
        <button type="submit" class="btn btn-info" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchManufacturerRes">
        <table class="table-info table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">description</th>
            <th style="padding-left: 10px; padding-right: 10px">material</th>
            <th style="padding-left: 10px; padding-right: 10px">volume</th>
            <th style="padding-left: 10px; padding-right: 10px">cat_num</th>
            <th style="padding-left: 10px; padding-right: 10px">manufacturer</th>
            <th style="padding-left: 10px; padding-right: 10px">map_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let manures of searchManufacturerRes">
            <td style="padding-right: 10px">{{manures.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.description}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.material}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.volume}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.cat_num}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.manufacturer}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.map_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{manures.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Search by Labwarespec_id -->
    <div class="col">
      <h2><b>Search by Id</b></h2>
      <hr>
      <form (submit)="onSearchLwareSpecsById()">
        <div class="form-group">
          <label>Type the id here:</label>
          <input type='text' class="form-control" name='id' [(ngModel)]="id" placeholder="Type the id here...">
        </div>
        <button type="submit" class="btn btn-warning" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchIdRes">
        <table class="table-warning table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">description</th>
            <th style="padding-left: 10px; padding-right: 10px">material</th>
            <th style="padding-left: 10px; padding-right: 10px">volume</th>
            <th style="padding-left: 10px; padding-right: 10px">cat_num</th>
            <th style="padding-left: 10px; padding-right: 10px">manufacturer</th>
            <th style="padding-left: 10px; padding-right: 10px">map_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let idres of searchIdRes">
            <td style="padding-right: 10px">{{idres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.description}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.material}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.volume}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.cat_num}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.manufacturer}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.map_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- Search by name and manufacturer -->
    <div class="col">
      <h2><b>Search by Conditions</b></h2>
      <hr>
      <form (submit)="onSearchLwareSpecsByConditions()">
        <div class="form-group">
          <label>Type the name here:</label>
          <input type='text' class="form-control" name='name_condition' [(ngModel)]="name_condition" placeholder="Type the name here...">
        </div>
        <div class="form-group">
          <label>Type the manufacturer here:</label>
          <input type='text' class="form-control" name='manufacturer_condition' [(ngModel)]="manufacturer_condition" placeholder="Type the manufacturer here...">
        </div>
        <button type="submit" class="btn btn-secondary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchConRes">
        <table class="table-secondary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">name</th>
            <th style="padding-left: 10px; padding-right: 10px">description</th>
            <th style="padding-left: 10px; padding-right: 10px">material</th>
            <th style="padding-left: 10px; padding-right: 10px">volume</th>
            <th style="padding-left: 10px; padding-right: 10px">cat_num</th>
            <th style="padding-left: 10px; padding-right: 10px">manufacturer</th>
            <th style="padding-left: 10px; padding-right: 10px">map_id.name</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let conres of searchConRes">
            <td style="padding-right: 10px">{{conres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.description}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.material}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.volume}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.cat_num}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.manufacturer}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.map_id.name}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<hr>