<!DOCTYPE html>

<html>
  <!-- <head>
    <title>Process Request Initial Testing ui</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <script type="text/javascript" src="scripts/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/js/lib/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/js/lib/jquery/jquery.form.js"></script>

    <script type="text/javascript" src="scripts/js/misc.js"></script>

    <script type="text/javascript" src="scripts/js/genRequest.js"></script>


    <script type="text/javascript" src="scripts/js/procRequest.js"></script>

    <style type="text/css" media="all">
      @import url("scripts/js/lib/jquery.ui.theme.css");
      @import url("css/style.css");
      @import url("css/iop.css");
      @import url("css/order.css");
      @import url("css/firefly.css");
      @import url("css/w3.css");


    </style>

  </head> -->
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="margin-top: 15px;"><b>Setup</b></h1>
        <form (submit)="getRequests()">
          <div class="form-group">
            <table>
              <tr>
                <th><label for="selectIns">Instruments</label></th>
                <th><label for="selectType">Work-order Type</label></th>
                <th><label for="selectPro">Protocols for work-order</label></th>
              </tr>
              <tr>
                <td>
                  <select class="form-control" id="selectIns" [(ngModel)]="instrument" name="instrument" (change)="getTypes($event.target.value)">
                    <option>Select Instrument...</option>
                    <option [value]="instrument" *ngFor='let instrument of instruments'>{{instrument}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" id="selectType" [(ngModel)]="type" name="type" (change)="getProtocols($event.target.value)">
                    <option>Select Work-order...</option>
                    <option [value]="workorder" *ngFor='let workorder of workorders'>{{workorder}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" id="selectPro" [(ngModel)]="protocol" name="protocol">
                    <option>Select Protocol...</option>
                    <option [value]="protocol" *ngFor='let protocol of protocols'>{{protocol}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <button type="submit" class="btn btn-primary">Get Work-orders</button>
        </form>
        <hr>
      </div>
    </div>

    <div class="row" *ngIf="Requests">
      <div class="col" style="margin-left: -160px; width: 350px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #3f474e">
        <h2 style="margin-top: 15px"><b>Work-orders:</b></h2>
        <hr>
        <table class="table-striped table-bordered" style="text-align: center">
          <tr>
            <th style="padding-right: 2px">Work-order ID</th>
            <th style="padding-left: 2px; padding-right: 2px">Work-order Type</th>
            <th style="padding-left: 2px; padding-right: 2px">Work-order Info</th>
            <th style="padding-left: 2px; padding-right: 2px">Work-order Items</th>
            <th style="padding-left: 2px; padding-right: 2px">Requested By</th>
            <th style="padding-left: 2px; padding-right: 2px">Date Requested</th>
          </tr>
          <tr *ngFor="let req of Requests">
            <td style="padding-right: 2px">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-outline-dark" (click)="onShowRequest(req.requestId)">{{req.requestId}}</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <button class="dropdown-item" type="button" (click)="onShowRequest(req.requestId)">Show Requests</button>
                    <button class="dropdown-item" type="button" (click)="openModalforSetup(content)">Setup Work-order</button>

                    <ng-template #content let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title">Modal title</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div style="width: 1150px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #3f474e">
                          <table class="table-striped" style="text-align: center">
                            <tr>
                              <th style="padding-right: 5px">Dept Name</th>
                              <th style="padding-left: 5px; padding-right: 5px">User Name</th>
                              <th style="padding-left: 5px; padding-right: 5px">Work-order ID</th>
                              <th style="padding-left: 5px; padding-right: 5px">Work-order Type</th>
                              <th style="padding-left: 5px; padding-right: 5px">Protocal Name</th>
                              <th style="padding-left: 5px; padding-right: 5px">Instrument</th>
                            </tr>
                            <tr>
                              <td style="padding-right: 5px">{{user.department}}</td>
                              <td style="padding-left: 5px; padding-right: 5px">{{user.name}}</td>
                              <td style="padding-left: 5px; padding-right: 5px">{{req.requestId}}</td>
                              <td style="padding-left: 5px; padding-right: 5px">{{req.reqType}}</td>
                              <td style="padding-left: 5px; padding-right: 5px">{{protocol}}</td>
                              <td style="padding-left: 5px; padding-right: 5px">{{instrument}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
                      </div>
                    </ng-template>

                  </div>
                </div>
              </div>
            </td>
            <td style="padding-left: 2px; padding-right: 2px">{{req.reqType}}</td>
            <td style="padding-left: 2px; padding-right: 2px">
              <table>
                <tr>
                  <th>Plex</th>
                  <th>Plex Label</th>
                  <th>Barcode</th>
                </tr>
                <tr>
                  <td>{{req.plex}}</td>
                  <td>{{req.plexLabel}}</td>
                  <td>{{req.labwareBarcode}}</td>
                </tr>
              </table>
            </td>
            <td style="padding-left: 2px; padding-right: 2px">{{req.requestItems}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{req.requestor}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{req.dateRequested}}</td>
          </tr>
        </table>
      </div>

      <div class="col" *ngIf="reqRes" style="margin-left: 3px; margin-right: -160px; width: 350px; height: 700px; overflow: auto;">
        <h2 style="margin-top: 15px"><b>Show Requests -- RequestId: </b><span class="badge badge-pill badge-dark">{{requestId}}</span></h2>
        <table class="table-striped table-bordered table-dark"  style="text-align: center">
          <tr>
            <th style="padding-right: 2px">Req Item</th>
            <th style="padding-left: 2px; padding-right: 2px">HTID</th>
            <th style="padding-left: 2px; padding-right: 2px">Antibody Name</th>
            <th style="padding-left: 2px; padding-right: 2px">Antibody Type</th>
            <th style="padding-left: 2px; padding-right: 2px">Antibody AbID</th>
            <th style="padding-left: 2px; padding-right: 2px">Antibody Clone ID</th>
            <th style="padding-left: 2px; padding-right: 2px">Assay Code</th>
            <th style="padding-left: 2px; padding-right: 2px">Linked Req ID</th>
            <th style="padding-left: 2px; padding-right: 2px">Antibody Tube Barcode</th>
          </tr>
          <tr *ngFor="let reqres of reqRes">
            <td style="padding-right: 2px">{{reqres.ord + 1}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.antibodyHTID}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.antibodyName}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.antibodyAbType}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.antibodyAbId}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.antibodyCloneId}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.assayCode}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.linkedReq}}</td>
            <td style="padding-left: 2px; padding-right: 2px">{{reqres.antibodyLabwareBarcode}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
