<h1 class="page-header" style="margin-top: 15px"><b>Login</b></h1>
<hr>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Type your name here...">
  </div>
  <div class="form-group">
    <label for="selectDep">Department</label>
    <select class="form-control" id="selectDep" [(ngModel)]="department" name="department">
      <option>Select your department...</option>
      <option [value]="department" *ngFor='let department of departments'>{{department}}</option>
    </select>
  </div>
  <!-- <div class="form-group">
      <label>Department</label>
      <input type="text" class="form-control" [(ngModel)]="department" name="department">
  </div> -->
  <!-- <button type="submit" class="btn btn-success"><a href="/dashboard" style="color: white;"><i class="fas fa-user"></i> Login</a></button> -->
  <button type="submit" class="btn btn-success"><i class="fas fa-user"></i> Login</button>
</form>