<!DOCTYPE html>
<html>
  <head>
    <title>plateTest</title>
    <style type="text/css">
      .circlebig{
        width: 300px;
        height: 300px;
        position: relative;
        background-color: #3f474e;
        border-radius: 50%;
        cursor: pointer;
      }
      .circlebigempty{
        width: 300px;
        height: 300px;
        position: relative;
        background-color: #78C2AD;
        border-radius: 50%;
        cursor: pointer;
      }
      .circlesmallEmp{
        width: 32px;
        height: 32px;
        position: relative;
        background-color: #78C2AD;
        border-radius: 50%;
        align-items: center;
        cursor: pointer;
      }
      .circlesmallFul{
        width: 32px;
        height: 32px;
        position: relative;
        background-color: #3f474e;
        border-radius: 50%;
        align-items: center;
        cursor: pointer;
      }
      th, td {
        padding-right: 13px;
        padding-bottom: 5px;
      }
      div {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="form-group" style="padding-top: 15px; width: 200px">
        <select class="custom-select">
          <option selected="">Select the plate...</option>
          <option value="1">8x12 Plate</option>
          <option value="2">16x24 Plate</option>
        </select>
      </div>

     
      

      <h2 style="text-align: left">8x12 Plate:</h2>
      <table style="border-radius: 15px; background-color: #e3edf0">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col">11</th>
            <th scope="col">12</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="padding-left: 15px">A</th>
            <td><div class="circlesmallFul" (click)="onSearchPlatesByCoor('A1')"></div></td>
            <td><div class="circlesmallFul" (click)="onSearchPlatesByCoor('A2')"></div></td>
            <td><div class="circlesmallFul" (click)="onSearchPlatesByCoor('A3')"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallEmp" (click)="onSearchPlatesByCoor('A8')"></div></td>
            <td><div class="circlesmallEmp" (click)="onSearchPlatesByCoor('A9')"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td style="padding-right: 15px"><div class="circlesmallEmp" style="padding-top: 5px; color: black"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">B</th>
              <td><div class="circlesmallFul" (click)="onSearchPlatesByCoor('B1')"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp" (click)="onSearchPlatesByCoor('B8')"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">C</th>
              <td><div class="circlesmallFul" (click)="onSearchPlatesByCoor('C1')"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">D</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">E</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">F</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">G</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">H</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div *ngIf="searchCoorRes">
        <div class="circlebig" style="color: white" *ngFor="let coorRes of searchCoorRes">
          <br><br>
          <p>Position: {{coorRes.coor}}</p>
          <p>Name: {{coorRes.name}}</p>
          <p>Desciption: {{coorRes.description}}</p>
          <p>Volume: {{coorRes.volume}}</p>
          <p>Id: {{coorRes.id}}</p>
        </div>
      </div>
      <div *ngIf="emptyCoorRes">
          <div class="circlebigempty" style="color: white" *ngFor="let emptyRes of emptyCoorRes">
            <br><br>
            <p>Position: {{emptyRes.coor}}</p>
            <p>Name: {{emptyRes.name}}</p>
            <p>Desciption: {{emptyRes.description}}</p>
            <p>Volume: {{emptyRes.volume}}</p>
            <p>Id: {{emptyRes.id}}</p>
          </div>
        </div>
      <hr>
      <table class="table-striped">
        <tr>
          <th style="padding-right: 10px">id</th>
          <th style="padding-left: 10px; padding-right: 10px">name</th>
          <th style="padding-left: 10px; padding-right: 10px">description</th>
          <th style="padding-left: 10px; padding-right: 10px">volume</th>
          <th style="padding-left: 10px; padding-right: 10px">coor</th>
        </tr>
        <tr *ngFor="let plate of plates">
          <td style="padding-right: 10px"> {{plate.id}} </td>
          <td style="padding-left: 10px; padding-right: 10px"> {{plate.name}} </td>
          <td style="padding-left: 10px; padding-right: 10px"> {{plate.description}} </td>
          <td style="padding-left: 10px; padding-right: 10px"> {{plate.volume}} </td>
          <td style="padding-left: 10px; padding-right: 10px"> {{plate.coor}} </td>
        </tr>
      </table>
      <!-- <h2 style="text-align: left">16x24 Plate:</h2>
      <table style="border-radius: 15px; background-color: #e3edf0">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col">11</th>
            <th scope="col">12</th>
            <th scope="col">13</th>
            <th scope="col">14</th>
            <th scope="col">15</th>
            <th scope="col">16</th>
            <th scope="col">17</th>
            <th scope="col">18</th>
            <th scope="col">19</th>
            <th scope="col">20</th>
            <th scope="col">21</th>
            <th scope="col">22</th>
            <th scope="col">23</th>
            <th scope="col">24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="padding-left: 15px">A</th>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallFul"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td><div class="circlesmallEmp"></div></td>
            <td style="padding-right: 15px"><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">B</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">C</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">D</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">E</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">F</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">G</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">H</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">I</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">J</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">K</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">L</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">M</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">N</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">O</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          <tr>
              <th scope="row" style="padding-left: 15px">P</th>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallFul"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
              <td><div class="circlesmallEmp"></div></td>
          </tr>
          
        </tbody>
      </table>
      <hr> -->
    </div>
  </body>
</html>