<!-- Area to Select the Code Map Type -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="margin-top: 15px;"><b>Generate Code Dilution Request</b></h1>
      <h5 class="text-warning">Select the Code Map Type:</h5>
      <select class="form-control" style="width: 200px;" name="codeMap" [(ngModel)]="codeMap" (change)="getCodeMapType(codeMap)">
        <option>Code Map Types...</option>
        <option [ngValue]="codeMap" *ngFor="let codeMap of codeMaps">{{codeMap.name}}</option>
      </select>
    </div>
  </div>
</div>
<!-- Area for calculating Code Dilutions Work-orders -->
<div class="container" style="margin-top: 15px;">
  <div class="row">
    <div class="col">
      <h5 class="text-warning">Fill in the fields with Nanodrop Reading:</h5>
      <form class="uk-form-horizontal" (submit)="onCalculate()">
        <div class="form-group" style="width: 150px; float: left; margin-right: 5px;">
          <label style="font-size: 16px;">UC21A</label>
          <input class="form-control" type="number" [(ngModel)]="UC21A" name="UC21A" placeholder="41.2" disabled>
        </div>
        <div class="form-group" style="width: 150px; float: left; margin-right: 5px;">
          <label style="font-size: 16px;">UC2NF</label>
          <input class="form-control" type="number" [(ngModel)]="UC2NF" name="UC2NF" placeholder="30.3" disabled>
        </div>
        <div class="form-group" style="width: 150px; float: left; margin-right: 5px;">
          <label style="font-size: 16px;">UC31A</label>
          <input class="form-control" type="number" [(ngModel)]="UC31A" name="UC31A" placeholder="41.478" disabled>
        </div>
        <div class="form-group" style="width: 150px; float: left; margin-right: 5px;">
          <label style="font-size: 16px;">UC3NF</label>
          <input class="form-control" type="number" [(ngModel)]="UC3NF" name="UC3NF" placeholder="30.675" disabled>
        </div>
        <div class="form-group" style="width: 150px; margin-right: 5px;">
          <label style="font-size: 16px;">Volume (uL)</label>
          <input class="form-control" type="number" [(ngModel)]="Volume" name="Volume" placeholder="500" disabled>
        </div>
        <button class="btn btn-primary" type="submit">Calculate</button>
      </form>
    </div>
  </div>
  <!-- Form to Choose and Create the Code Dilutions Work-order -->
  <div class="row" style="margin-top: 10px;" *ngIf="percentages">
    <div class="col">
      <h5 class="text-warning">Check the preview and create the Work-order: </h5>
      <form (submit)="onCreateReq(content)">
        <div class="form-group" style="width: 350px;">
          <label style="font-size: 16px;">Type in your department ID:</label>
          <input class="form-control" type="text" [(ngModel)]="deptSpecId" name="deptSpecId" placeholder="2873561 - Manufacturing Dept" disabled>
        </div>
        <div class="form-group" style="width: 350px;">
          <label style="font-size: 16px;">Type in your employee ID:</label>
          <input class="form-control" type="text" [(ngModel)]="employeeId" name="employeeId" placeholder="1587869 - Felix Green" disabled>
        </div>
        <div class="form-group" style="width: 350px;">
          <label style="font-size: 16px;" for="selectAssayCodeType">Select the Assay Code Type:</label>
          <select class="form-control" id="selectAssayCodeType" [(ngModel)]="assayCodeType" name="assayCodeType">
            <option>Select the Assay Code Type...</option>
            <option [value]="assayCodeType" *ngFor='let assayCodeType of assayCodeTypes'>{{assayCodeType}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Work-order</button>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Congratulations</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>You've successfully created a code dilution request!</p>
            <P>The new request ID is: <b>{{newReqID}}</b></P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>
<!-- Show the Preview of Code Dilutions Work-order -->
<div class="container" style="margin-top: 15px;" *ngIf="percentages">
  <div class="row">
    <div class="col">
      <h5 class="text-warning">Preview of Work-order:</h5>
      <table class="table-striped table-hover" style="text-align: center; display: inline; margin-right: 30px;" *ngIf="tableCode1">
        <tr>
          <th style="padding-right: 2px">Code 1</th>
          <th style="padding-left: 2px; padding-right: 2px; width: 100px;">Cy3</th>
          <th style="padding-left: 2px; padding-right: 2px; width: 100px;">NF</th>
        </tr>
        <tr *ngFor="let code1 of tableCode1">
          <td style="padding-right: 2px"><button class="btn btn-outline-light">{{code1.code1Num}}</button></td>
          <td style="padding-right: 2px">{{code1.Cy3}}</td>
          <td style="padding-right: 2px">{{code1.NF}}</td>
        </tr>
      </table>
      <table class="table-striped table-hover" style="text-align: center; display: inline;" *ngIf="tableCode2">
        <tr>
          <th style="padding-right: 2px">Code 2</th>
          <th style="padding-left: 2px; padding-right: 2px; width: 100px;">Cy3</th>
          <th style="padding-left: 2px; padding-right: 2px; width: 100px;">NF</th>
        </tr>
        <tr *ngFor="let code2 of tableCode2">
          <td style="padding-right: 2px"><button class="btn btn-outline-light">{{code2.code1Num}}</button></td>
          <td style="padding-right: 2px">{{code2.Cy3}}</td>
          <td style="padding-right: 2px">{{code2.NF}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<hr>