<!-- Area for display Instrument data -->
<div class="container" style="margin-top: 15px;">
  <!-- Instruction of Instrument component -->
  <div class="row">
    <div class="col jumbotron" style="padding-top: 25px; height: 120px;">
      <h5>Instruments list shows all the instruments which will be tracked by developers in the database. The robot could be a huge instruments with many smaller instruments such as Tips Arm and Tips Carrier. It is beneficial to both users and developers. Because if we want the robot to do sth, we need to come here to choose instruments.</h5>
    </div>
  </div>

  <!-- To show local and remote Instruments data -->
  <div class="row">
    <!-- Area to update and show Instruments locally -->
    <div class="col" style="margin-left: -160px; width: 350px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Update and Show All Instruments Locally</b></h2>
      <form (submit)="onGrabInstruments()" style="margin-bottom: 15px">
          <button type="submit" class="btn btn-primary">Update Instruments</button>
      </form>
      <hr>
      <!-- table to show instruments locally -->
      <table class="table-striped table-hover" style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">short</th>
          <th style="padding-left: 2px; padding-right: 2px">spec_id</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let instrument of instruments">
          <td style="padding-right: 2px">{{instrument.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{instrument.short}}</td>
          <td style="padding-left: 2px; padding-right: 2px">type: {{instrument.spec_id.type}}<br>manufacturer: {{instrument.spec_id.manufacturer}}<br>model: {{instrument.spec_id.model}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{instrument.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{instrument.moduleName}}</td>
        </tr>
      </table>
    </div>

    <!-- Area to show Instruments remotely -->
    <div class="col" style="margin-left: 3px; margin-right: -160px; width: 350px; height: 700px; overflow: auto; border-radius: 15px; border: 3px dashed #fff">
      <h2 style="margin-top: 15px"><b>Show All Instruments Remotely</b></h2>
      <p>According to: <a href="http://10.253.7.14:8000/?request=getAllInstruments">http://10.253.7.14:8000/?request=getAllInstruments</a></p>
      <hr>
      <!-- table to show instruments remotely -->
      <table class="table-striped table-hover"  style="text-align: center">
        <tr>
          <th style="padding-right: 2px">id</th>
          <th style="padding-left: 2px; padding-right: 2px">short</th>
          <th style="padding-left: 2px; padding-right: 2px">spec_id</th>
          <th style="padding-left: 2px; padding-right: 2px">className</th>
          <th style="padding-left: 2px; padding-right: 2px">moduleName</th>
        </tr>
        <tr *ngFor="let remoteinstrument of remoteinstruments">
          <td style="padding-right: 2px">{{remoteinstrument.id}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteinstrument.short}}</td>
          <td style="padding-left: 2px; padding-right: 2px">type: {{remoteinstrument.spec_id.type}}<br>manufacturer: {{remoteinstrument.spec_id.manufacturer}}<br>model: {{remoteinstrument.spec_id.model}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteinstrument.className}}</td>
          <td style="padding-left: 2px; padding-right: 2px">{{remoteinstrument.moduleName}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<hr>

<!-- Area for search functionalities -->
<div class="container">
  <div class="row">
    <!-- Search by moduleName -->
    <div class="col">
      <h2><b>Search by moduleName</b></h2>
      <hr>
      <form (submit)="onSearchInstrumentsBymoduleName()">
        <div class="form-group">
          <label>Type the moduleName here:</label>
          <input type='text' class="form-control" name='moduleName' [(ngModel)]="moduleName" placeholder="Type the moduleName here...">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchmoduleNameRes">
        <table class="table-primary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">short</th>
            <th style="padding-left: 10px; padding-right: 10px">spec_id</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let modulenameres of searchmoduleNameRes">
            <td style="padding-right: 10px">{{modulenameres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{modulenameres.short}}</td>
            <td style="padding-left: 10px; padding-right: 10px">type: {{modulenameres.spec_id.type}}<br>manufacturer: {{modulenameres.spec_id.manufacturer}}<br>model: {{modulenameres.spec_id.model}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{modulenameres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{modulenameres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Search by short -->
    <div class="col">
      <h2><b>Search by Short</b></h2>
      <hr>
      <form (submit)="onSearchInstrumentsByShort()">
        <div class="form-group">
          <label>Type the short here:</label>
          <input type='text' class="form-control" name='short' [(ngModel)]="short" placeholder="Type the short here...">
        </div>
        <button type="submit" class="btn btn-info" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchShortRes">
        <table class="table-info table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">short</th>
            <th style="padding-left: 10px; padding-right: 10px">spec_id</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let shortres of searchShortRes">
            <td style="padding-right: 10px">{{shortres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{shortres.short}}</td>
            <td style="padding-left: 10px; padding-right: 10px">type: {{shortres.spec_id.type}}<br>manufacturer: {{shortres.spec_id.manufacturer}}<br>model: {{shortres.spec_id.model}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{shortres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{shortres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Search by instrument_id -->
    <div class="col">
      <h2><b>Search by Id</b></h2>
      <hr>
      <form (submit)="onSearchInstrumentsById()">
        <div class="form-group">
          <label>Type the id here:</label>
          <input type='text' class="form-control" name='id' [(ngModel)]="id" placeholder="Type the id here...">
        </div>
        <button type="submit" class="btn btn-warning" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchIdRes">
        <table class="table-warning table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">short</th>
            <th style="padding-left: 10px; padding-right: 10px">spec_id</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let idres of searchIdRes">
            <td style="padding-right: 10px">{{idres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.short}}</td>
            <td style="padding-left: 10px; padding-right: 10px">type: {{idres.spec_id.type}}<br>manufacturer: {{idres.spec_id.manufacturer}}<br>model: {{idres.spec_id.model}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{idres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- Search by moduleName and short -->
    <div class="col">
      <h2><b>Search by Conditions</b></h2>
      <hr>
      <form (submit)="onSearchInstrumentsByConditions()">
        <div class="form-group">
          <label>Type the moduleName here:</label>
          <input type='text' class="form-control" name='moduleName_condition' [(ngModel)]="moduleName_condition" placeholder="Type the moduleName here...">
        </div>
        <div class="form-group">
          <label>Type the short here:</label>
          <input type='text' class="form-control" name='short_condition' [(ngModel)]="short_condition" placeholder="Type the short here...">
        </div>
        <button type="submit" class="btn btn-secondary" style="margin-bottom: 15px">Search</button>
      </form>
      <div *ngIf="searchConRes">
        <table class="table-secondary table-bordered table-hover" style="text-align: center">
          <tr>
            <th style="padding-right: 10px">id</th>
            <th style="padding-left: 10px; padding-right: 10px">short</th>
            <th style="padding-left: 10px; padding-right: 10px">spec_id</th>
            <th style="padding-left: 10px; padding-right: 10px">className</th>
            <th style="padding-left: 10px; padding-right: 10px">moduleName</th>
          </tr>
          <tr *ngFor="let conres of searchConRes">
            <td style="padding-right: 10px">{{conres.id}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.short}}</td>
            <td style="padding-left: 10px; padding-right: 10px">type: {{conres.spec_id.type}}<br>manufacturer: {{conres.spec_id.manufacturer}}<br>model: {{conres.spec_id.model}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.className}}</td>
            <td style="padding-left: 10px; padding-right: 10px">{{conres.moduleName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Area for adding new Instruments -->
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-header" style="margin-top: 15px"><b>Add Instruments Manually</b></h2>
      <form (submit)="onAddInstruments()">
        <div class="form-group">
          <label>id:</label>
          <input type="text" class="form-control" [(ngModel)]="id_add" name="id_add" placeholder="Add new id...">
        </div>
        <div class="form-group">
          <label>className:</label>
          <input type="text" class="form-control" [(ngModel)]="className_add" name="className_add" placeholder="Add new className...">
        </div>
        <div class="form-group">
          <label>moduleName:</label>
          <input type="text" class="form-control" [(ngModel)]="moduleName_add" name="moduleName_add" placeholder="Add new moduleName...">
        </div>
        <div class="form-group">
          <label>short:</label>
          <input type="text" class="form-control" [(ngModel)]="short_add" name="short_add" placeholder="Add new short...">
        </div>
        <div class="form-group">
          <label>spec_id:</label>
          <input type="text" class="form-control" [(ngModel)]="spec_id_add" name="spec_id_add" placeholder="Add new spec_id...">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Add Instruments</button>
      </form>
    </div>
  </div>
</div>