<!-- Main area to register new USER, NOT new OPERATOR -->
<h1 class="page-header" style="margin-top: 15px"><b>Register</b></h1>
<hr>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Type your name here...">
  </div>
  <div class="form-group">
    <label for="selectDep">Department</label>
    <select class="form-control" id="selectDep" [(ngModel)]="department" name="department">
      <option>Select your department...</option>
      <option [value]="department" *ngFor='let department of departments'>{{department}}</option>
    </select>
  </div>
  <!-- <div class="form-group">
    <label>Department</label>
    <input type="text" [(ngModel)]="department" name="department" class="form-control">
  </div> -->
  <button type="submit" class="btn btn-info"><i class="fas fa-user-plus"></i> Register</button>
</form>